# Supabase — get from supabase.com → Settings → API
NEXT_PUBLIC_SUPABASE_URL= https://okqlmnzkldjhvpdynzqj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9rcWxtbnprbGRqaHZwZHluenFqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0MzYxMzMsImV4cCI6MjA5NTAxMjEzM30.gOJmCS8FEQThxN5fryglkVXuKKO0QTA0XEG9gyZX29Y

# Groq — FREE at console.groq.com
GROQ_API_KEY=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
